<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}} SERA Faculty Assessement | Welcome</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body id="background_image">
  <!-- Nav bar -->

  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 nav">
  
<a class="navbar-brand" href="/">SERA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item{{#if active.home}} active{{/if}}">
          <a class="nav-link" href="/">Home</a>
        </li>

        {{!-- if you remove the if user than we will see all tabs --}}
        {{!-- {{#if user}} --}}
        {{!-- active just hightlights the tab we are on --}}
        <li class="nav-item{{#if active.report}} active{{/if}}">
          <a class="nav-link" href="/mail">Report</a>
        </li>
        {{!-- {{/if}} --}}

        {{!-- {{#if user}} --}}
        <li class="nav-item{{#if active.report2}} active{{/if}}">
          <a class="nav-link" href="/reportSaver">My Reports</a>
        </li>
        {{!-- {{/if}} --}}

        {{!-- end of <ul> --}}
      </ul>

      <ul class="navbar-nav justify-content-end">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">{{user}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/authorize/signout">Sign Out</a>
          </div>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="{{signInUrl}}">Sign In</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav> 

  {{#if user}}

  

  {{else if active.home}}
<h1>Striving to improve instructor-student communication</h1>

<section class="container" style="text-align:center">
  <div id="container2">
    <div id="box1" style="padding-left:120px">
        <i class="iconSpace fas fa-chart-line fa-8x" style="padding-top:65px"></i>
        <p class="pInBox">Improve performance</p>
    </div>
    <div id="box2" style="width:75%">
        <p id="firstP" style="padding-right:60px">
          The goal of SERA is to improve instructor-student communication by providing<br> 
          instructors with assessement reports, grading instructor response rates to<br> 
          student email reception rates, in an effort to ensure education quality.<br>
        </p>
    </div>
  </div>
</section>

  <section class="container" style="text-align:center">

      <div id="box3" style=" width:50%">
        <i class="iconSpace fas fa-envelope-open-text fa-7x"></i>
        <p class="pInBox2">Recieve response assessement</p>
      </div>
      
      <div id="box4" style=" width:50%">
        <i class="iconSpace2 fas fa-calendar-alt fa-7x"></i>
        <p class="pInBox2" style="padding-right: 10px">Schedule assessement Reports</p>
      </div>

  </section>
  
<div class="jumbotron container" style="text-align:center height:100px">
  
   <h2>Connect with Outlook to begin</h2>

  <hr>
  <a class="btn btn-primary btn-large" href="{{signInUrl}}">Sign In</a>

</div>
<footer>
  <p>SERA faculty assessement, Copyright &copy; 2019</p>
</footer>
  {{/if}}

  <!-- Main body -->
  <main role="main" class="container">
    {{{body}}}

    {{!-- <!-- Debug output -->
    {{#if debug}}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Debug</h5>
        <pre class="bg-light border p-3"><code>{{debug}}</code></pre>
      </div>
    </div>
    {{/if}}
  </main> --}}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
</body> 
</html>